* {
  margin: 0;
  padding: 0;
  
}

@font-face {
  font-family: PIXEL;
  src: url(PixeloidSansBold-GOjpP.ttf);
}

body{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url(img/80sbackground.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    
}
  #synth{
    background-color: #20c8ce;
    height: 320px;
    padding: 90px 30px 0 30px;
    border-radius: 15px;
    animation: neon 1.5s ease-in-out infinite alternate;
    z-index: 4;
  }

  @keyframes neon {
    from {
      box-shadow: 0 0 10px #20c8ce, 0 0 20px #20c8ce, 0 0 30px #20c8ce, 0 0 40px #00f3f3,
        0 0 70px #00f3f3, 0 0 80px #00f3f3, 0 0 100px #00f3f3;
    }
    to {
      box-shadow: 0 0 1px #20c8ce, 0 0 10px #20c8ce, 0 0 15px #20c8ce, 0 0 20px #00f3f3,
        0 0 35px #00f3f3, 0 0 40px #00f3f3, 0 0 50px #00f3f3;
    }
  }


.keys{
    position: relative;
}

.white-keys {
    display: flex;
    
}
.white-key {
    background-color: #ffffff;
    width: 68px;
    height: 280px;
    border: solid #000000 2px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }

.black-keys{
    position: relative;
    display: flex; 
}

.black-key {
   width: 38px;
   height: 160px;
   border-radius: 0 0 5px 5px;
   box-sizing: border-box;
   position: absolute;
   background-color: #000000;
}

.black-key:nth-child(1){
      left: 48px;
}
  
.black-key:nth-child(2){
    left: 117px;
}

.black-key:nth-child(3){
    left: 253px;
}

.black-key:nth-child(4){
    left: 320px;
}

.black-key:nth-child(5){
    left: 389px;
}

.input{
  color: #000000;
  font-size: 25px;
  padding: 0px 13px 0px 13px;
  font-family: 'PIXEL', sans-serif;
  display: flex;
  
 }

.input-key:nth-child(1){
margin-left: 5px;

}
.input-key:nth-child(2){
  margin-left: 18px;
  
}
.input-key:nth-child(3){
    margin-left: 12px;
    
}
.input-key:nth-child(4){
  margin-left: 16px;
  
}
.input-key:nth-child(5){
  margin-left: 25px;
    
}
.input-key:nth-child(6){
  margin-left: 30px;
      
}
.input-key:nth-child(7){
  margin-left: 23px;
    
}
.input-key:nth-child(8){
  margin-left: 13px;
      
}
.input-key:nth-child(9){
  margin-left: 15px;
        
}
.input-key:nth-child(10){
  margin-left: 14px;
    
}
.input-key:nth-child(11){
  margin-left: 15px;
        
}
.input-key:nth-child(12){
  margin-left: 22px;
          
}
           
.EasterEgg{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 100px;
  cursor: pointer;
  z-index: 3;
}

.notes{
  height: 500px;
  width: 500px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.note{
  position: absolute;
  height: 60px;
  width: auto;
  
}

#note-1{
  top: 45px;
  left: -3%;
  animation-delay: 1s;
}

#note-2{
  top: 40px;
  left: 7%;
  animation-delay: 1.5s;
}

#note-3{
  top: 48px;
  left: 25%;
  animation-delay: 1.3s;
}

#note-4{
  top: 43px;
  left: 35%;
  animation-delay: 2.5s;
}

#note-5{
  top: 50px;
  left: 50%;
  animation-delay: 2s;
}

#note-6{
  top: 42px;
  left: 60%;
  animation-delay: 1.7s;
}

#note-7{
  top: 55px;
  left: 70%;
  animation-delay: 2.2s;
}

#note-8{
  top: 60px;
  left: 95%;
  animation-delay: 1.6s;
}

.music-animation{
  animation: music 2s infinite linear;
}

@keyframes music {
  0% {
    transform: scale(0.5) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2) translate(50%, -50%);
  }
  80% {
    opacity: 1;
    transform: scale(1.3) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0.3;
  }
}